/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
  background:repeating-linear-gradient(
  45deg,
    tan,
    #222 10px,
    #333 10px,
    #333 20px);
  background-size: cover; 
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;    
  
}
#previous-button {
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  border: none;
  color:#faebd7;
  text-align:center;
  text-decoration:none;
  background: transparent;
  font-size:40px;
  font-weight:bold;
  position:absolute;
  transition: .5s ease;
  top: 50%;
  right: 90%;
  padding-top: 80px;
  
}

#next-button {
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  border: none;
  color:#faebd7;
  text-align:center;
  text-decoration:none;
  background: transparent;
  font-size:40px;
  font-weight:bold;
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 90%;
  padding-top: 80px;
}

/*img {
  width: 100%;
  margin: 10px;
  overflow: hidden;
}*/
img {
  position: relative;
  width:  100%;
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 10px;
}

.tnt {
	height: 55px;
}
.tnt2 {
	height: 55px;
	float: right;
}

p {
  color: tan;
  font-size: 16px;
  font-weight: 800;
  margin:5px;
  padding-top: 5px;
}
.bar {
  text-align: right;
  color: #f9e42e;
  font-size: 24px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  background: black;
  padding-right: 10px;

}

.bar a {
  color: tan;
  font-size: 24px;
  font-weight: 300;
  padding-left: 15px;
  text-decoration: none;
  margin-right: 10px;

}

.link a:hover {
  color: red;
}

nav ul {
  display: block;
}


h1  {
	text-align: left;
  font-size: 24px;
  font-weight: 800;
  font-family: cursive;
  color: tan;
  padding-top: 20px;


}

h2{
  text-align: left;
  font-size: 32px;
  font-weight: 800;
  font-family: cursive;
  color: tan;
  margin: 10px;

}
.pic {
	height: 350px;
  width: 50%;
	float: right;
}
.about {
  background-color: #333;
  height: 600px;
  margin:0, 5;


}

.hamburger {
    display: inline-block; 
  }
  footer {
    color: white;
    font-weight: 800;
    text-align: center;
  }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  } 

  .menu {
    display: block !important;
  }
  
  nav ul li {
    display: inline-block; 
  }

  .hamburger {
    display: none; 
  }
 
}













